{% extends 'base.html' %}
{% load static %}
{% block meta %}<title>Cart</title>{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <section class="pt-20"> 
    <h1>Cart for {{ username }}</h1>
    <h3>Restaurant: {{ restaurant.name }}</h3>
    
    {% if cart_items %}
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.food.name }} - Price: {{ item.food.price }} - Quantity: {{ item.quantity }}
            </li>
        {% endfor %}
    </ul>
    <p>Total Price: {{ total_price }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    </section>
{% endblock %}
